<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help Topics</title>
</head>
<body>
    <h1>Help Topics</h1>
    <a href="/approve_request1"><button>Refresh Help Topics</button></a>
    <ul>
        {% for topic in helptopics %}
            <li>
                Title: {{ topic.title }},
                Question: {{ topic.topicq }},
                Answer: {{ topic.topica }},
                Course Number: {{ topic.CNumber }}
            </li>
        {% else %}
            <li>No help topics found.</li>
        {% endfor %}
    </ul>
</body>
<a href="{{ url_for('adm') }}"><button>back</button></a>
</html>
