<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approve Requests</title>
</head>
<body>
    <h1>Approve Requests</h1>
    <a href="/approve_request0"><button>Refresh Requests</button></a>
    <ul>
        {% for request in requests %}
            {% if request.approved == 0 %}
                <li>
                    QID: {{ request.qid }}, Explanation: {{ request.explanation }},
                    Score Update: {{ request.scoreupdate }}, email: {{ request.email}},Approved: {{ request.approved }}
                    <!-- 添加表单提交按钮 -->
                    <form action="/approve_request/{{ request.requestid }}" method="post">
                        <button type="submit">Agree</button>
                    </form>
                </li>
            {% endif %}
        {% else %}
            <li>No requests found.</li>
        {% endfor %}
    </ul>
</body>
<a href="{{ url_for('adm') }}"><button>back</button></a>
</html>
