<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>帮助主题</title></head>
<body><h1>帮助主题</h1> <a href="/approve_request1">
    <button>刷新帮助主题</button>
</a>
<table>
    <thead>
    <tr>
        <th>主题ID</th>
        <th>课程编号</th>
        <th>主题文本</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody> {% for topic in helptopics %} {% if topic.approved == 0 %}
    <tr>
        <td>{{ topic.topicid }}</td>
        <td>{{ topic.CNumber }}</td>
        <td>{{ topic.topictxt }}</td>
        <td>
            <form action="{{ url_for('approve_topic', topicid=topic.topicid) }}" method="post">
                <button type="submit">批准</button>
            </form>
        </td>
    </tr>
    {% endif %} {% else %}
    <tr>
        <td colspan="4">没有找到未批准的帮助主题。</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</body>
<a href="{{ url_for('adm') }}">
    <button>返回</button>
</a></html>