{% extends 'base.html' %}

{% block content %}
<script>
window.onload = function() {
    {% if success %}
        alert('新问题创建成功');
        window.location.href = "{{ url_for('courses') }}"; // 成功后重定向到课程页面
    {% endif %}
}
</script>
<h1>课程列表</h1>
<a href="{{ url_for('create_course_route') }}"><button>创建新课程</button></a>
<table>
    <thead>
        <tr>
            <th>课程编号</th>
            <th>课程名称</th>
            <th>课程描述</th>
            <th>课程类别</th>
           {% if session['uclass'] == 1 %} <th>创建作业</th>{% endif %}
            {% if session['uclass'] == 1 %} <th>请求帮助</th>{% endif %}
            <th>主题列表</th> <!-- 添加新的列用于显示主题列表 -->
        </tr>
    </thead>
    <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.CNumber }}</td>
            <td>{{ course.CName }}</td>
            <td>{{ course.CDes }}</td>
            <td>{{ course.Ccategory }}</td>
            <td>
                {% if session['uclass'] == 1 %}
                    <a href="{{ url_for('create_assignq_route', cnumber=course.CNumber) }}">创建作业</a>
                {% endif %}
            </td>
            <td>
                {% if session['uclass'] == 1 %}
                    <!-- 传递课程编号 (CNumber) -->
                    <a href="{{ url_for('create_helptopic_view', CNumber=course.CNumber) }}">帮助</a>
                {% endif %}
            </td>
            <td>
                <!-- 传递课程编号 (CNumber) 到主题列表页面 -->
                <a href="{{ url_for('topic_list', CNumber=course.CNumber) }}">查看主题</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('teacher') }}" class="btn btn-danger">返回</a>
{% endblock %}