{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create New Assignment Question{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="qtext">Question Text:</label>
    <textarea name="qtext" id="qtext" required></textarea>
    <br>
    <label for="category">Category:</label>
    <input type="text" name="category" id="category" required>
    <br>
    <label for="picturename">Picture Name (if any):</label>
    <input type="text" name="picturename" id="picturename">
    <br>
    <label for="score">Score:</label>
    <input type="number" name="score" id="score" step="0.1" required>
    <br>
    <br>
    <input type="submit" value="Create Question">
  </form>
<a href="/courses"><button>back</button></a>
<script>
  {% if error_message %}
    alert("{{ error_message }}");
  {% endif %}
</script>
{% endblock %}
