{% extends 'base.html' %}

{% block content %}
<h1>LLM Records</h1>

<!-- 添加新记录的按钮 -->
<a href="{{ url_for('submit_llm') }}"><button>Create New LLM</button></a>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>homework</th>
            <th>used llm</th>
            <th>Image</th>
            <th>Score</th>
            <th>Comments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for llm in llms %}
        <tr>
            <td>{{ llm.llm_id }}</td>
            <td>{{ llm.homeproblem }}</td>
            <td>{{ llm.usedanswer}}</td>
            <td>{{ llm.answerimage }}</td>
            <td>{{ llm.llmscore }}</td>
            <td>{{ llm.comments }}</td>
            <td>{{ llm.qid }}</td>
            <td>
                <a href="{{ url_for('view_llm', llm_id=llm.llm_id) }}">View Details</a>
                <a href="{{ url_for('update_llm_view', llm_id=llm.llm_id) }}">Edit</a>
                <form action="{{ url_for('delete_llm_view', llm_id=llm.llm_id) }}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button onclick="location.href='{{ url_for('question_details') }}'">Back</button>

{% endblock %}
