{% extends 'base.html' %}

{% block content %}
<h1>LLM Details</h1>
{% if llm %}
    <p>homework problem: {{ llm.homeproblem }}</p>
    <p>Answer Image: {{ llm.answerimage }}</p>
    <p>LLM Score: {{ llm.llmscore }}</p>
{% else %}
    <p>No details available for this LLM record.</p>
{% endif %}
<button onclick="window.history.back();">Back</button>
<a href="{{ url_for('submit_llm') }}"><button>Create New LLM</button></a>
<a href="{{ url_for('update_llm_view', llm_id=llm.llm_id) }}">Edit</a>
{% endblock %}
