{% extends 'base.html' %}

{% block content %}
<h1>LLM detail</h1>
{% if llm %}
    <p>question: {{ llm.homeproblem }}</p>
    <p>answer: {{ llm.answerimage }}</p>
    <p>LLM score: {{ llm.llmscore }}</p>
    <p>Qid: {{ llm.qid }}</p>
    <h3>comment:</h3>
{% if comment %}
    {% for comment in com %}
        <p>{{ comment.comments }}</p>
    {% endfor %}
{% endif %}
    <form action="{{ url_for('view_llm', llm_id=llm.llm_id) }}" method="post">
        <input type="text" name="comment" placeholder="Enter a new comment">
        <button type="submit">add a comment</button>
    </form>
{% else %}
    <p>No details are available for this LLM record。</p>
{% endif %}
<button onclick="location.href='{{ url_for('llmsqid', qid=llm.qid) }}'">back</button>
{% if session['uclass'] == 1 %}
<a href="{{ url_for('update_llm_view', llm_id=llm.llm_id) }}">edit</a>
{% endif %}

{% endblock %}