{% extends 'base.html' %}

{% block content %}
<h1>LLM Records</h1>
{% if session['uclass'] == 1 %}
<a href="{{ url_for('submit_llm', qid=qid) }}"><button>创建 LLM</button></a>{% endif %}
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>homework</th>
            <th>used llm</th>
            <th>Image</th>
            <th>Score</th>
            <th>Comments</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for llm in llms %}
        <tr>
            <td>{{ llm.llm_id }}</td>
            <td>{{ llm.homeproblem }}</td>
            <td>{{ llm.usedanswer}}</td>
            <td>{{ llm.answerimage }}</td>
            <td>{{ llm.llmscore }}</td>
            <td>{{ llm.comments }}</td>
            <td>{{ llm.qid }}</td>
            <td>
                <a href="{{ url_for('view_llm', llm_id=llm.llm_id) }}">View Details</a>
                {% if session['uclass'] == 1 %}
                <a href="{{ url_for('update_llm_view', llm_id=llm.llm_id) }}">Edit</a>
                {% endif %}
                {% if session['uclass'] == 1 %}
                <form action="{{ url_for('delete_llm_view', llm_id=llm.llm_id) }}" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
                {% endif %}

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ url_for('search') }}"><button>back</button></a>

{% endblock %}
