{% extends 'base.html' %}

{% block header %}

<h1>{% block title %}question detail {{ details.qid }}{% endblock %}</h1> {% endblock %}
{% block content %}

<h2>question detail {{ details.qtext }}</h2>
<table>
    <tr>
        <th>question ID</th>
        <th>问题内容</th>
        <th>问题图片</th>
        <th>类别</th>
        <th>答案图片</th>
    </tr>
    <tr>
        <td>{{ details.qid }}</td>
        <td>{{ details.qtext }}</td>
        <td> {% if details.qimg %} <img src="data:image/jpeg;base64,{{ details.qimg }}"
                                               alt="Answer Image"> {% else %} 无图片 {% endif %}
        </td>
        <td>{{ details.category }}</td>
        <td> {% if details.picturename %} <img src="data:image/jpeg;base64,{{ details.picturename }}"
                                               alt="Answer Image"> {% else %} 无图片 {% endif %}
        </td>
    </tr>
</table>
<form method="GET" action="/searchcourse">
    <button type="submit">返回搜索页面</button>
</form>
<form method="GET" action="/llms/{{ details.qid }}">
    <button type="submit">实验列表</button>
</form> {% endblock %}