{% extends 'base.html' %}

{% block header %}

<h1>{% block title %}问题详情 {{ details.qid }}{% endblock %}</h1> {% endblock %}
{% block content %}

<h2>问题详情 {{ details.qtext }}</h2>
<table>
    <tr>
        <th>问题ID</th>
        <th>问题内容</th>
        <th>类别</th>
        <th>图片</th>
        <th>score</th>
    </tr>
    <tr>
        <td>{{ details.qid }}</td>
        <td>{{ details.qtext }}</td>
        <td>{{ details.category }}</td>
        <td>{{ details.picturename }}</td>
        <td>{{ details.score }}</td>
    </tr>
    <form method="GET" action="/searchcourse">
        <button type="submit">返回搜索页面</button>
    </form>
    <form method="GET" action="/llms/{{ details.qid }}">
        <button type="submit">实验列表</button>
    </form>
</table> {% endblock %}