{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Request Form{% endblock %}</h1> {% endblock %}
{% block content %}
<a href="/back"><button>back</button></a>
<form method="post">
    <input type="hidden" name="qid" value="{{ qid }}">
    <label for="explanation">Explanation</label>
    <input name="explanation" id="explanation" maxlength="255" required>
    <label for="scoreupdate">Score Update</label>
    <input name="scoreupdate" id="scoreupdate" type="number" required>
    <input type="submit" value="Submit Request">
</form>
{% for message in get_flashed_messages() %}
    <script>alert("{{ message }}");</script>
{% endfor %}
{% endblock %}
