<!DOCTYPE html>
<html>
<head>
    <title>search course</title>
</head>
<body>
    <h1>search course</h1>
    <a href="/back">Back</a>
    <form method="POST" action="/searchcourse">
        <label for="search_name_num">Search by name/number：</label>
        <input type="text" name="search_name_num" id="search_name_num" placeholder="请输入搜索信息">
        <br>
        <label for="search_category">Search by course category ：</label>
        <input type="text" name="search_category" id="search_category" placeholder="请输入搜索信息">
        <br>
        <label for="search_score">Search by score：</label>
        <input type="text" name="search_score" id="search_score" placeholder="请输入搜索信息">
        <br>
        <input type="submit" value="搜索">
    </form>

    <script>
        const searchForm = document.querySelector('form');
        const inputFields = searchForm.querySelectorAll('input[type="text"]');

        searchForm.addEventListener('submit', function(event) {
            let filledFields = 0;

            inputFields.forEach(function(field) {
                if (field.value.trim() !== '') {
                    filledFields++;
                }
            });

            if (filledFields > 1) {
                event.preventDefault();
                alert("You can only fill in one search box at a time");
            }
        });
    </script>
</body>

<a href="{{ url_for('logout') }}" class="btn btn-danger">退出登录</a>
</html>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
