<!DOCTYPE html> <html> <head><title>search result</title></head> <body> <h1>search result</h1>

{% if topics %}
<h2>related subject</h2>
<table>
    <thead>
        <tr>
            <th>topic ID</th>
            <th>topic content</th>
            <th>subtopic</th>
        </tr>
    </thead>
    <tbody>
        {% for topic in topics %}
        <tr>
            <td>{{ topic.topicid }}</td>
            <td>{{ topic.topictxt }}</td>
            <td>
                <!-- 传递主题ID (topicid) 到子主题列表页面 -->
                <a href="{{ url_for('subtopic_list', topicid=topic.topicid) }}">查看子主题</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<h2>question list</h2>
<table>
    <tr>
        <th>Qid</th>
        <th>Qtext</th>
        <th>action</th>
    </tr>
    {% for assign_q in assign_qs %}
    <tr>
        <td>{{ assign_q.qid }}</td>
        <td>{{ assign_q.qtext }}</td>
        <td><a href="/question_details/{{ assign_q.qid }}">detail</a></td>
        {% if session['uclass'] == 1 %}
        <td><a href="{{ url_for('submit_request', qid=assign_q.qid) }}">request</a></td>
        {% endif %}
    </tr>
    {% endfor %}
</table>

<form method="GET" action="/searchcourse">
    <button type="submit">back search page</button>
</form>
</body> </html>