{% extends 'base.html' %}

{% block content %}
<h1>List of questions (subtopic ids: {{ subtopic.subid }})</h1>
<form method="POST" action="{{ url_for('subq_list', subid=subtopic.subid) }}">
    <label for="subqtext">New problem text:</label>
    <input type="text" id="subqtext" name="subqtext" required>
    <label for="qanswer">question answer:</label>
    <input type="text" id="qanswer" name="qanswer" required>
    <button type="submit">create question</button>
</form>

{% if subqs %}
<table>
    <thead>
        <tr>
            <th>question ID</th>
            <th>question content</th>
            <th>question answer</th>
        </tr>
    </thead>
    <tbody>
        {% for subq in subqs %}
        <tr>
            <td>{{ subq.subqid }}</td>
            <td>{{ subq.subqtext }}</td>
            <td>{{ subq.qanswer }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>There are no problems with this subtopic</p>
{% endif %}

<a href="{{ url_for('subtopic_list', topicid=subtopic.topicid) }}" class="btn btn-danger">returns a list of subtopics</a>
{% endblock %}