{% extends 'base.html' %}

{% block content %}

<h1>主题列表 (课程编号: {{ CNumber }})</h1>
<form method="POST" action="{{ url_for('topic_list', CNumber=CNumber) }}"><label for="topictxt">新主题文本:</label>
    <input type="text" id="topictxt" name="topictxt" required>
    <button type="submit">创建新主题</button>
</form>
<table>
    <thead>
    <tr>
        <th>主题ID</th>
        <th>主题文本</th>
        <th>子主题列表</th>
    </tr>
    </thead>
    <tbody> {% for topic in topics %} {% if topic.approved == 1 %}
    <tr>
        <td>{{ topic.topicid }}</td>
        <td>{{ topic.topictxt }}</td>
        <td> <!-- 传递主题ID (topicid) 到子主题列表页面 --> <a
                href="{{ url_for('subtopic_list', topicid=topic.topicid) }}">查看子主题</a></td>
    </tr>
    {% endif %} {% endfor %}
    </tbody>
</table> <a href="{{ url_for('back') }}" class="btn btn-danger">返回</a> {% endblock %}