{% extends 'base.html' %}

{% block content %}
<h1>Update LLM Record</h1>
{% if llm %}
<form method="post">
    <label for="llmscore">LLM Score</label>
    <input type="number" step="0.1" name="llmscore" id="llmscore" value="{{ llm.llmscore }}" required>

    <label for="comments">Comments</label>
    <input type="text" name="comments" id="comments" value="{{ llm.comments }}" required>

    <input type="submit" value="Update LLM Record">
</form>
{% else %}
<p>Requested LLM record not found.</p>
{% endif %}
<button onclick="window.history.back();">Back</button>
{% endblock %}
