{% extends 'base.html' %}

{% block content %}
<h1>Update Course</h1>
{% if course %}
<form method="post">
    <label for="help_id">Help ID:</label>
    <input type="text" name="help_id" id="help_id" value="{{ course.Help_id }}" required>
    <label for="cname">Course Name:</label>
    <input type="text" name="cname" id="cname" value="{{ course.CName }}" required>
    <label for="qid">Question ID:</label>
    <input type="text" name="qid" id="qid" value="{{ course.qid }}" required>
    <input type="submit" value="Update Course">
</form>
{% else %}
<p>Requested course not found.</p>
{% endif %}
<button onclick="window.history.back();">Back</button>
{% endblock %}
