{% extends 'base.html' %}

{% block content %}

<h1>Update LLM Record</h1>
<form method="post">
    <label for="answerid">Answer ID</label>
    <input type="number" name="answerid" id="answerid" required value="{{ llm.answerid if llm else '' }}">

    <label for="answerimage">Answer Image</label>
    <input type="text" name="answerimage" id="answerimage" required value="{{ llm.answerimage if llm else '' }}">

    <label for="llmscore">LLM Score</label>
    <input type="number" step="0.1" name="llmscore" id="llmscore" required value="{{ llm.llmscore if llm else '' }}">

    <label for="comments">Comments</label>
    <input type="text" name="comments" id="comments" required value="{{ llm.comments if llm else '' }}">

    <input type="submit" value="Update">
</form>
<button onclick="window.history.back();">Back</button>
{% endblock %}
