{% extends 'base.html' %}

{% block content %}
<h1>Update Help Topic</h1>
{% if topic %}
<form method="post">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="{{ topic.title }}" required>
    <label for="topicq">Question:</label>
    <input type="text" name="topicq" id="topicq" value="{{ topic.topicq }}" required>
    <label for="topica">Answer:</label>
    <input type="text" name="topica" id="topica" value="{{ topic.topica }}" required>
    <input type="submit" value="Update Help Topic">
</form>
{% else %}
<p>Requested help topic not found.</p>
{% endif %}
<button onclick="window.history.back();">Back</button>
{% endblock %}
