{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Verify Code{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
  {% endif %}
  <form method="post" id="register-form">
    <label for="uclass">User Type</label>
    <input name="uclass" id="uclass" required>
    <label for="verification_code">Verification Code</label>
    <input name="verification_code" id="verification_code" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}